sequence of command

In [1]:
a=1;print(a);a=a+1;print(a);a=a+1;print(a);a=a+1;print(a);a=a+1;print(a);a=a+1;print(a)

1
2
3
4
5
6

In [3]:
a=int(input("what is the cost = "))
b=a*(10/100)
a=a-b
print("the discounted price is = ",a)

90.0

condinional statement

In [1]:
d=int(input("enter the number"))
if(d==1):
    print("one")
if(d==2):
    print("two")

two

loops
for i in range(10)means
i is a variable and 10 means assign 0 to till 9 values to i

In [4]:
for i in range(100):
    print(i)
    print("hello how are you all",i)

0
hello how are you all 0
1
hello how are you all 1
2
hello how are you all 2
3
hello how are you all 3
4
hello how are you all 4
5
hello how are you all 5
6
hello how are you all 6
7
hello how are you all 7
8
hello how are you all 8
9
hello how are you all 9
10
hello how are you all 10
11
hello how are you all 11
12
hello how are you all 12
13
hello how are you all 13
14
hello how are you all 14
15
hello how are you all 15
16
hello how are you all 16
17
hello how are you all 17
18
hello how are you all 18
19
hello how are you all 19
20
hello how are you all 20
21
hello how are you all 21
22
hello how are you all 22
23
hello how are you all 23
24
hello how are you all 24
25
hello how are you all 25
26
hello how are you all 26
27
hello how are you all 27
28
hello how are you all 28
29
hello how are you all 29
30
hello how are you all 30
31
hello how are you all 31
32
hello how are you all 32
33
hello how are you all 33
34
hello how are you all 34
35
hello how are you all 35
36
hello how are you all 36
37
hello how are you all 37
38
hello how are you all 38
39
hello how are you all 39
40
hello how are you all 40
41
hello how are you all 41
42
hello how are you all 42
43
hello how are you all 43
44
hello how are you all 44
45
hello how are you all 45
46
hello how are you all 46
47
hello how are you all 47
48
hello how are you all 48
49
hello how are you all 49
50
hello how are you all 50
51
hello how are you all 51
52
hello how are you all 52
53
hello how are you all 53
54
hello how are you all 54
55
hello how are you all 55
56
hello how are you all 56
57
hello how are you all 57
58
hello how are you all 58
59
hello how are you all 59
60
hello how are you all 60
61
hello how are you all 61
62
hello how are you all 62
63
hello how are you all 63
64
hello how are you all 64
65
hello how are you all 65
66
hello how are you all 66
67
hello how are you all 67
68
hello how are you all 68
69
hello how are you all 69
70
hello how are you all 70
71
hello how are you all 71
72
hello how are you all 72
73
hello how are you all 73
74
hello how are you all 74
75
hello how are you all 75
76
hello how are you all 76
77
hello how are you all 77
78
hello how are you all 78
79
hello how are you all 79
80
hello how are you all 80
81
hello how are you all 81
82
hello how are you all 82
83
hello how are you all 83
84
hello how are you all 84
85
hello how are you all 85
86
hello how are you all 86
87
hello how are you all 87
88
hello how are you all 88
89
hello how are you all 89
90
hello how are you all 90
91
hello how are you all 91
92
hello how are you all 92
93
hello how are you all 93
94
hello how are you all 94
95
hello how are you all 95
96
hello how are you all 96
97
hello how are you all 97
98
hello how are you all 98
99
hello how are you all 99

In [10]:
a=0
for i in range(101):
    a=a+i
print(a)

5050

In [1]:
a=int(input("enter the number whose table you want to display"))
for i in range(11):
    print(a,"*",i,"=",a*i)

20 * 0 = 0
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [4]:
c=1
n=1
while(c==1):
    print("token number",n,"come in")
    c=int(input("continue?(0/1)"))
    n+=1
print("thank you")

token number 1 come in
token number 2 come in
token number 3 come in
token number 4 come in
token number 5 come in
token number 6 come in
token number 7 come in
token number 8 come in
token number 9 come in
token number 10 come in
token number 11 come in
token number 12 come in
token number 13 come in
token number 14 come in
token number 15 come in
token number 16 come in
token number 17 come in
token number 18 come in
token number 19 come in

ValueError: invalid literal for int() with base 10: ''

list

In [1]:
shopping=["bread","coffee","tea"]
print(shopping)
for i in range(3):
    print(i)
for item in shopping:
    print(item)
shopping.append("Curd") #append
print(shopping)
shopping[1] #index
shopping[0]
for i in range(4):
    print(shopping[i])
for item in shopping:
    print(item)
shopping.append("butter")
shopping.insert(1,"oil")    #insert
for item in shopping:
    print(item)

['bread', 'coffee', 'tea']
0
1
2
bread
coffee
tea
['bread', 'coffee', 'tea', 'Curd']
bread
coffee
tea
Curd
bread
coffee
tea
Curd
bread
oil
coffee
tea
Curd
butter

In [8]:
ages=[12,32,43,54,65,34,23,67,876,3,2,566,343,443,4,3,12,34,4,2,34]
ages.count(12)  #count
ages.count(0)
len(ages)   #length
for i in range(len(ages)):
    print(ages[i])
ages.sort()   #sort
print(ages)
ages.reverse()  #reverse
print(ages)

12
32
43
54
65
34
23
67
876
3
2
566
343
443
4
3
12
34
4
2
34
[2, 2, 3, 3, 4, 4, 12, 12, 23, 32, 34, 34, 34, 43, 54, 65, 67, 343, 443, 566, 876]
[876, 566, 443, 343, 67, 65, 54, 43, 34, 34, 34, 32, 23, 12, 12, 4, 4, 3, 3, 2, 2]

In [8]:
def FizzBuzz(n):
    for i in range(1,n+1):
        if (i % 3==0 and i % 5==0):
            print(str(i)+" = FizzBuzz")
        elif (i % 5==0):
            print(str(i)+" = Fizz")
        elif (i % 3==0):
            print(str(i)+" = buzz")
        else:
            print(str(i))

FizzBuzz(100)

1
2
3 = buzz
4
5 = Fizz
6 = buzz
7
8
9 = buzz
10 = Fizz
11
12 = buzz
13
14
15 = FizzBuzz
16
17
18 = buzz
19
20 = Fizz
21 = buzz
22
23
24 = buzz
25 = Fizz
26
27 = buzz
28
29
30 = FizzBuzz
31
32
33 = buzz
34
35 = Fizz
36 = buzz
37
38
39 = buzz
40 = Fizz
41
42 = buzz
43
44
45 = FizzBuzz
46
47
48 = buzz
49
50 = Fizz
51 = buzz
52
53
54 = buzz
55 = Fizz
56
57 = buzz
58
59
60 = FizzBuzz
61
62
63 = buzz
64
65 = Fizz
66 = buzz
67
68
69 = buzz
70 = Fizz
71
72 = buzz
73
74
75 = FizzBuzz
76
77
78 = buzz
79
80 = Fizz
81 = buzz
82
83
84 = buzz
85 = Fizz
86
87 = buzz
88
89
90 = FizzBuzz
91
92
93 = buzz
94
95 = Fizz
96 = buzz
97
98
99 = buzz
100 = Fizz

In [9]:
students=["Arun","Bhavesh","Chetan","Dhruv","Eshaan","Faisal","Gaurav","Himanshu","Ishan","Jatin"]
students.sort()
print(students)
students.insert(0,"joc")

['Arun', 'Bhavesh', 'Chetan', 'Dhruv', 'Eshaan', 'Faisal', 'Gaurav', 'Himanshu', 'Ishan', 'Jatin']

slicing listname[start:end+1]
default
start=0
end=len(list)

In [6]:
students=["Arun","Bhavesh","Chetan","Dhruv","Eshaan","Faisal","Gaurav","Himanshu","Ishan","Jatin"]
students[1:5]
students[:]
students[3:]
students[:5]
students[:-1]

['Arun',
 'Bhavesh',
 'Chetan',
 'Dhruv',
 'Eshaan',
 'Faisal',
 'Gaurav',
 'Himanshu',
 'Ishan']

ModuleNotFoundError: No module named 'scipy'